<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Summary Output</title>

  <link rel="stylesheet" href="{{ url_for('static', filename='css/download.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/back_home.css') }}">
</head>
<body>
  <div class="container">
    <h1>Summary Output</h1>
    <div id="summary-output">
      <p>{{ summary }}</p>
    </div>


    <a href="/download-summary" class="download-button">Download Summary</a>
    <a href="/"                 class="back-home">Back to Home</a>
  </div>
</body>
</html>
